{% extends 'base.html.twig' %}

{% block title %}Chambres{% endblock %}

{% block body %}
    <h1>Liste des chambres</h1>
    <div class="trait"></div>
  <a href="{{ path('chambre_new') }}"><button>Créer</button></a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Photo</th>
                <th>Type de chambre</th>
                <th>N° de chambre</th>
                <th>Disponibilite</th>
                <th>Accepte les animaux</th>
                <th>Prix</th>
                <th>Détails</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.id }}</td>
                <td><img src="{{ dossier_images ~ chambre.photo }}"></td>
                <td>{{ chambre.typeChambre }}</td>
                <td>{{ chambre.numChambre }}</td>
                <td>{{ chambre.disponibilite }}</td>
                <td>{{ chambre.accepteAnimaux }}</td>
                <td>{{ chambre.prix }}</td>
                <td>{{ chambre.detail }}</td>
                <td>
                    <a href="{{ path('chambre_show', {'id': chambre.id}) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('chambre_edit', {'id': chambre.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     

  
{% endblock %}
